<form method="POST" action="/new" id="message-form">
  <h1>Add a message</h1>

  <div class="input-div">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  </div>

  <div id="message-area">
    <label for="message-box" style="margin-bottom: 10px;">Message: </label>
    <textarea name="message" id="message-box"></textarea>
  </div>

  <button type="submit" id="submit-btn">Submit</button>
</form>