header{
  background-color: rgb(230, 102, 102);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 60px;
}

nav > p{
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}