body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f3edd6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #02024c;
  margin: 15px 10px;
  padding: 15px 10px;
  border-radius: 10px;
  position: sticky;
  top: 15px;
  box-shadow: 0px 0px 10px 1px #00000073;
}

.header-button {
  position: absolute;
  right: 20px;
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  border: none;
  background-color: #02024c;
  text-decoration: none;
  color: white;
  /* border: 2px solid #02024c; */
}

.header-button:hover {
  cursor: pointer;
}

.header-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.header-button:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.user-area {
  display: grid;
  width: 100%;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

.user {
  height: 250px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #a3a3a345;
}

.user > .details {
  padding: 0px 10px;
}

.user > h1 {
  margin: 20px 0px;
}

.details > p {
  margin: 10px 0px;
}

.user > .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buttons button,
form-submit-button {
  background-color: wheat;
  border: none;
  color: black;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 25px;
  border-radius: 7px;
  box-shadow: 0px 0px 2px 0.1px #7e7e7e87;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #ffd59e;
  transform: scale(1.1);
}

button > a {
  text-decoration: none;
  color: black;
}

#form-div {
  display: flex;
  justify-content: center;
}

#create-user-form {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.input-field {
  display: flex;
  font-size: 30px;
}

.input-field > label,
.input-field > input {
  width: 200px;
  margin: 10px 20px;
  padding: 0px 0px;
}

.input-field > label {
  font-weight: bold;
  text-align: right;
}

.input-field > input {
  display: block;
  font-family: inherit;
  border: none;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  font-size: 20px;
  box-shadow: 0px 0px 5px 1px #a3a3a345;
}

#form-submit-button {
  width: 100px;
  margin-top: 30px;
}

