.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 40px;
}

.add-ingredient-form>input,
button {
  font-family: inherit;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 5px 1px #7b7b7b47;
}

.add-ingredient-form>input {
  flex-grow: 1;
  min-width: 150px;
  max-width: 500px;
}

.add-ingredient-form>button {
  background-color: black;
  color: white;
  width: 200px;
}
.add-ingredient-form>button:before {
  content: "+";
  margin-right: 5px;
}