#locationForm {
  margin: 15% auto;
  background-color: inherit;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}

#locationForm>input,
#locationForm>button {
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px black;
}

#locationForm>button {
  margin: 10px;
  padding: 5px;
  position: inherit;
  width: 27%;
  border: none;
}

#locationForm>input {
  padding: 0;
  position: relative;
  width: 70%;
  margin: 10px;
  padding: 0 5px;
  border: none;
}